
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// CoreUI
@import "~@coreui/coreui/scss/coreui";
@import "~@coreui/icons/scss/coreui-icons";

// Font Awesome
@import "~font-awesome/scss/font-awesome";
@import "~simple-line-icons/scss/simple-line-icons";

@import "~datatables.net-bs4/css/dataTables.bootstrap4.min";
@import "~select2/src/scss/core";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.has-error .invalid-feedback{
  display: block;
}

h5.mini-title{
  font-size: 13px;
  border-bottom: 1px solid #e4e7ea;
  padding-bottom: 5px;
  font-weight: bold;
}

.badge-normal{
  font-size: 100%;
  font-weight: normal;
}